<% if object.errors.any? %>

  <div class="alert alert-danger"> 
    <p><%= object.errors.count%> <%= "error".pluralize(object.errors.count) %></p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%=message%></li>
      <% end %>
    </ul>
  </div>  

<% end %>